<div class="panel">
	<div class="panel-heading">
		<strong><a ui-sref="product.index">{{lang=='zh'?'产品':'Product'}}</a></strong>
	</div>
	<div class="panel-body">
		<div ng-init="keyproducts=['image1.jpg', 'image2.jpg','image3.jpg','image4.jpg' ]">
			<div ng-repeat="p in keyproducts" class="imagestack">
				<img ng-src="images/{{p}}">
			</div>

		</div>
	</div>

</div>