<!DOCTYPE html>
<html data-ng-app="elementink" data-ng-controller="mainCtrl">
<head>
<meta charset="utf-8">
<title>Element Ink</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="css/site.css">
<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.2/angular.min.js"></script>
<script type="text/javascript" src="js/angular-ui-router.min.js"></script>
<script type="text/javascript" src="js/product.js"></script>
<script type="text/javascript" src="js/nav.js"></script>

</head>
<body >

	<nav class="navbar navbar-default">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Element Ink</a>
		</div>

		<div class="collapse navbar-collapse" id="topbar-left">

			<p class="navbar-text navbar-right"><a  data-ng-click="setLang('zh')">中文</a></p>
			<p class="navbar-text navbar-right"><a  data-ng-click="setLang('en')">English</a></p>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="panel panel-info" id="topcontent">
				<div class="panel-heading">
					<ul class="nav nav-pills nav-justified">
						<li><a ui-sref="index">{{lang=='zh'?'首页':'Home'}}</a></li>
						<li><a ui-sref="about.index">{{lang=='zh'?'关于我们':'About US'}}</a></li>
						<li><a ui-sref="news.index">{{lang=='zh'?'新闻中心':'News'}}</a></li>
						<li><a ui-sref="product.index">{{lang=='zh'?'产品':'Product'}}</a></li>
						<li><a ui-sref="services.index">{{lang=='zh'?'技术支持':'Services'}}</a></li>
						<li><a ui-sref="marketing.index">{{lang=='zh'?'业务推广':'Marketing'}}</a></li>
						<li><a ui-sref="contactus.index">{{lang=='zh'?'联系我们':'Contact Us'}}</a></li>

					</ul>

				</div>
				<div class="panel-body">
					<div ui-view></div>
				</div>
				<div class="panel-footer">
						<ul class="nav nav-pills nav-justified">
						<li><a ui-sref="index">{{lang=='zh'?'首页':'Home'}}</a></li>
						<li><a ui-sref="about.index">{{lang=='zh'?'关于我们':'About US'}}</a></li>
						<li><a ui-sref="news.index">{{lang=='zh'?'新闻中心':'News'}}</a></li>
						<li><a ui-sref="product.index">{{lang=='zh'?'产品':'Product'}}</a></li>
						<li><a ui-sref="services.index">{{lang=='zh'?'技术支持':'Services'}}</a></li>
						<li><a ui-sref="marketing.index">{{lang=='zh'?'业务推广':'Marketing'}}</a></li>
						<li><a ui-sref="contactus.index">{{lang=='zh'?'联系我们':'Contact Us'}}</a></li>
					</ul>
				
				</div>
			</div>
		</div>
	</div>

</body>



</html>