<div class="row" id="homecontent">

	<div class="col-sm-3" id="homeleft" ng-include="'contentleft.html'"></div>
	
	<div class="col-sm-9" id="home-right">
		<div class="row">
			<div class="panel panel-success" id="homecontenttop">
				<div class="panel-heading">
					<h3 class="panel-title"><a ui-sref="news.index">{{lang=='zh'?'新闻中心':'News'}}</a></h3>
				</div>
				<div class="panel-body">

					News Content goes here
				</div>
			</div>

		</div>
		<div class="row">
			<div class="panel panel-success" id="homecontentbottom">
				<div class="panel-heading">
					<h3 class="panel-title"><a ui-sref="product.index">{{lang=='zh'?'产品':'Product'}}</a></h3>
				</div>
				<div class="panel-body" ng-include="'product_slide.html'">

					
				</div>
			</div>

		</div>

	</div>


</div>
