<div class="row" data-ng-controller="productCtrl">
	<div id="pictureshow" class="carousel slide" product-carousel="">
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="item" data-ng-class="{active : $first}" data-ng-repeat="chunk in pchunks">
				<div class="row">
					<a class="col-sm-3" data-ng-repeat="product in chunk"  href="product/{{product.model}}"><img src="images/image1.jpg">{{product.model}} {{$index}}</a>	
				</div>
			</div>
		</div>
	</div>
</div>