#left-nav
{
	padding:0px;
	margin: 0px;
}
#lef-nav ul
{
	background: none repeat scroll 0 0 #F2F2F2;
}

#topcontent > .panel-body
{
	min-height: 500px;
}

.imagestack
{
	margin-left: 20px;
	margin-bottom: 30px;
}
