<!--  second level navigation -->
<div class="row">
	<div class="col-sm-3 panel panel-default" id="left-nav">
		<div class="panel-heading"><h2>{{lang=='zh'?'关于我们':'About US'}}</h2></div>
		<div class="panl-body">
			<ul class="nav nav-pills nav-stacked">
				<li><a ui-sref="about.index">{{lang=='zh'?'公司简介':'Company Introduction'}}</a></li>
				<li><a ui-sref="about.staff">staff Care</a></li>
				<li><a ui-sref="about.cert">{{lang=='zh'?'公司认证':'Certificate'}}</a></li>
				<li><a ui-sref="about.factory">Factory Tour</a></li>

			</ul>
		</div>
	</div>
	<div ui-view class="col-sm-9"></div>
</div>