<!--  second level navigation -->
<div class="row">
	<div class="col-sm-3 panel panel-default" id="left-nav">
		<div class="panel-heading"><h3>{{lang=='zh'?'联系我们':'Contact US'}}</h3></div>
		<div class="panl-body">
			
		</div>
	</div>
	<div ui-view class="col-sm-9">
	</div>
</div>